<!-- PRE LOADER -->
<section class="preloader">
  <div class="spinner">

       <span class="spinner-rotate"></span>
       
   </div>
</section>


<!-- MENU -->
<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
  <div class="container">

       <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon icon-bar"></span>
                 <span class="icon icon-bar"></span>
                 <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="#" class="navbar-brand">UCB Rider</a>
       </div>

       <!-- MENU LINKS -->
       <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                 <li><a href="/" class="smoothScroll">Home</a></li>
                 <li><a href="/Motos" class="smoothScroll">Motos</a></li>
                 <li><a href="/Formulario" class="smoothScroll">Formulario</a></li>
                 <li><a href="/Contactanos" class="smoothScroll">Contáctanos</a></li>
            </ul>
       </div>

   </div>
</section>

<router-outlet ></router-outlet>



<!-- FOOTER -->
<footer id="footer">
  <div class="container">
       <div class="row">

            <div class="col-md-4 col-sm-6">
                 <div class="footer-info">
                      <div class="section-title">
                           <h2>UCB Rider</h2>
                      </div>
                      <address>
                           <p>180000000,<br> 70612000</p>
                      </address>

                      <ul class="social-icon">
                           <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                           <li><a href="#" class="fa fa-twitter"></a></li>
                           <li><a href="#" class="fa fa-instagram"></a></li>
                      </ul>

                      <div class="copyright-text"> 
                           <p>Copyright &copy; 2022 UCB RIDER</p>
                      </div>
                 </div>
            </div>

            <div class="col-md-4 col-sm-6">
                 <div class="footer-info">
                      <div class="section-title">
                           <h2>Contact Info</h2>
                      </div>
                      <address>
                           <p>+2223157</p>
                           <p><a href="mailto:youremail.co">ucb-rider@youremail.co</a></p>
                      </address>

                      
                 </div>
            </div>

            <div class="col-md-4 col-sm-12">
                 <div class="footer-info newsletter-form">
                      <div class="section-title">
                           <h2>Suscribete</h2>
                      </div>
                      <div>
                           <div class="form-group">
                                <form action="#" method="get">
                                     <input type="email" class="form-control" placeholder="Ingresa tu correo" name="email" id="email" required="">
                                     <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                </form>
                                <span><sup>*</sup> Te enviaremos las ultimas novedades</span>
                           </div>
                      </div>
                 </div>
            </div>
            
       </div>
  </div>
</footer>