<!-- CONTACT -->
<section id="contact" style="background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
" >
    <div class="container" >
         <div class="row">
  
              <div class="col-md-6 col-sm-12">
                   <form id="contact-form" role="form" action="" method="post">
                        <div class="section-title">
                             <h2>Adquiere tu motocicleta! <small>Por favor, llena los siguientes datos</small></h2>
                        </div>
  
                        <div class="col-md-12 col-sm-12">
                            <label style="color: white;" for="name">Nombre: </label> 
                            <input type="text" class="form-control" placeholder="Ingresa tu nombre" name="name" required="">
                            <label style="color: white;" for="email">Correo electrónico: </label>
                            <input type="email" class="form-control" placeholder="Ingresa tu correo" name="email" required="">
                            <label style="color: white;" for="ci">CI: </label>
                            <input type="text" class="form-control" placeholder="Ingresa tu CI" name="ci" required="">
                            <label style="color: white;" for="telefono">Teléfono: </label>
                            <input type="text" class="form-control" placeholder="Ingresa tu teléfono" name="telefono" required="">
                        </div>
  
                        <h4>Subtotal: </h4>
                        <h4>Descuento: </h4>
                        <h4>Total a pagar: </h4>
                        <div class="col-md-4 col-sm-12">
                             <input type="submit" class="form-control" name="pedido" value="Comprar">
                        </div>
  
                   </form>
              </div>
  
              <div class="col-md-6 col-sm-12">
                    <h4>titulo</h4>
                    <h4>precio</h4>
                   <div class="contact-image">
                        <img src="assets/images/moto.jpg" class="img-responsive" alt="Smiling Two Girls">
                   </div>
              </div>
              <style>
                h4{
                    color: white;
                }
              </style>
  
         </div>
    </div>
  </section>  
